/* Simple styling for the nav */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main_outter {
  display: flex;
  width: 100%;
  margin: 0%;
  flex-direction: column;
  position: relative;
  
  .main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .home_sec01 {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 20px;
      height: auto;
    
      @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .home-sec { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #043873;
       
      
         @media (max-width: 700px) {
          flex-direction: column;
        }
        .home-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // width: 486px;
          padding-left: 100px;
          margin-top: 100px;

          @media (max-width: 800px) {
            padding-left: 50px;

          }
          @media (max-width: 700px) {
            padding-left: 50px;

          }
          @media (max-width: 400px) {
            padding-left: 50px;

          }
          .content-holder {
            background-image: "url('/images/background.svg')";
      
            .home-heading {
              font-family: Playfair Display;
              font-weight: 700;
             font-size: 64px;
              color: white;

              @media (max-width: 1200px) {
                font-size: 50px;
              }
              @media (max-width: 1000px) {
                font-size: 40px;
              }
              @media (max-width: 900px) {
                font-size: 30px;
              }
            }
            .home-content {
              font-family: Nunito;
              font-weight: 400;
              font-size: 24px;
              
              @media (max-width: 900px) {
                font-size: 20px;
              }
            }

            .button-holder {
              display: flex;
              .button {
                width: 219px;
                height: 63px;
                background: #4F9CF9;
                font-family: Roboto;
                font-weight: 500;
                font-size: 18px;
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 900px) {
                  width: 100px;
                  height: 40px;
                }
              }
             
            }
          }
        }

        .home-right {
          display: flex;
          width: 720px;
          padding: 60px 20px;
          @media (max-width: 700px) {
            display: none;
          }
         
          .myimage {
            width:auto;
            @media (max-width: 700px) {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
