.work-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    height: auto;
  
    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .work-sec { 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #043873;
       @media (max-width: 700px) {
        flex-direction: column;
      }
      .work  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;  
     @media (max-width: 800px) {
          

        }
      
        .content-holder {
          background-image: "url('/images/background.svg')";
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 20px;
          .home-heading {
            font-family: Playfair Display;
            font-weight: 700;
           font-size: 64px;
            color: white;

            @media (max-width: 1200px) {
              font-size: 50px;
            }
            @media (max-width: 1000px) {
              font-size: 40px;
            }
            @media (max-width: 900px) {
              font-size: 30px;
            }
          }
          .home-content {
            font-family: Nunito;
            font-weight: 400;
            font-size: 24px;
            
            @media (max-width: 900px) {
              font-size: 20px;
            }
          }
          .work-button {
            width: 219px;
            height: 63px;
            background: #4F9CF9;
            font-family: Roboto;
            font-weight: 500;
            font-size: 18px;
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            @media (max-width: 600px) {
              width: 100px;
              height: 35px;
              font-size: 12px;
              
            }
          }
          
        }
      }

     
    }
  }